<script>
'use strict';
 
 
  }
 
</script>


<div class="container">
  <div class="row messages">
    <div class="col-md-6 message-users">

   <div class="message-wrapper"> 
        <% @conversations.each do |conversation| %>
               
     
          <% if conversation.target_user(current_user).present? %>
            
              <%= link_to conversation_messages_path(conversation) do %>
              <div class="talking_user">       
                <div class="message-image">
                   <% if conversation.target_user(current_user).profile.image? %>
                      <%= image_tag conversation.target_user(current_user).profile.image.url, size: '60x60', data: {"turbolinks"=>false} %>
                    <% else %>
                      <%= image_tag asset_path("no_image.png"), size: '60x60', data: {
                        "turbolinks"=>false} %>
                    <% end %>
                </div>
       
                <div class="message-user-name">
               
                <h4><%= conversation.target_user(current_user).profile.name %></h4>

                       
                </div>

<div class="message-marker">

  <% if @recipient.profile.name == conversation.target_user(current_user).profile.name %> <div class="message-color"><i class="fas fa-mail-bulk"></i>
                  </div>
                 <% end %>
 <% if @sender.profile.name == conversation.target_user(current_user).profile.name %> <div class="message-color"><i class="fas fa-mail-bulk"></i>
                  </div>
                 <% end %>       
</div>


                <div class="message-count ">
                  <p><%= conversation.messages.where.not(user_id: current_user.id).where(message_read: false).count %></p>
                </div>
              </div>

              <% end %>
            
          <% end %>
        <% end %>            
    </div>    
</div>
    
   
          <div class="col-md-6 message-form">
            <h3><%= "#{@recipient.profile.name}&#{@sender.profile.name}" %>の部屋</h3><br>
            <% if @over_ten %>
              <%= link_to '以前のメッセージ', '?m=all' %>
            <% end %>
            <div class="ui segment">
              <% @messages.each do |message| %>
                <% if message.message_body.present? %>
                  <% if message.user == current_user %>
                  <div class="me-item">
                  <% else %>
                  <div class="your-item">
                 
                  <% end %>
                 
                    <div class="content">
                      <div class="header"><strong><%= message.user.profile.name %></strong> <%= message.message_time %></div>
                      <div class="list">
                        <div class="item">
                          <i class="right triangle icon"></i>
                          <%= message.message_body %> /
                          <% if message.user == current_user %>
                            <%= message.message_read ? '既読' : '未読' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>


            <%= form_with(model: [@conversation, @message]) do |f| %>
              <div class="field">
                <%= f.text_area :message_body, class: "form-control", placeholder: "メッセージを入力してください" %>
              </div>
                <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
              <div>
                <%= f.submit "メッセージ送信" %>
              </div>
            <% end %>

          </div> 
  
    </div> 
</div>