<script>
'use strict';
 window.onload = () => {
 
    add.onclick = () => {
      // クラスを全て編集
      add.main = "bg-gradient-to-r from-green-400 via-blue-500 to-purple-500 text-white py-2 px-4 rounded-full mb-3 mt-4" ;
    };
 
  }
 
</script>


<div class="container">
  <div class="row messages">
    <div class="col-md-6 message-users">
    
          
          <h2>メッセージ一覧</h2>
              <ul>
                <% @conversations.each do |conversation| %>
                  
                  <% if conversation.target_user(current_user).present? %>
                    <li class="talking_user">

                      <%= link_to conversation_messages_path(conversation) do %>
                      <h2 class="main"><%= conversation.target_user(current_user).profile.name %></h2>
                        <% if conversation.target_user(current_user).profile.image? %>
                          <%= image_tag conversation.target_user(current_user).profile.image.url, size: '200x200' %>
                        <% else %>
                          <%= image_tag asset_path("no_image.png"), size: '200x200' %>
                        <% end %>
                        
                      <% end %>

                    </li>  
                    <% end %>
                  <% end %>
                
              </ul>
          </div>  
          
   
    
   
          <div class="col-md-6 message-form">
            <h3><%= "#{@recipient.profile.name}&#{@sender.profile.name}" %>の部屋</h3><br>
            <% if @over_ten %>
              <%= link_to '以前のメッセージ', '?m=all' %>
            <% end %>
            <div class="ui segment">
              <% @messages.each do |message| %>
                <% if message.message_body.present? %>
                  <div class="item">
                    <div class="content">
                      <div class="header"><strong><%= message.user.profile.name %></strong> <%= message.message_time %></div>
                      <div class="list">
                        <div class="item">
                          <i class="right triangle icon"></i>
                          <%= message.message_body %> /
                          <% if message.user == current_user %>
                            <%= message.message_read ? '既読' : '未読' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <%= form_with(model: [@conversation, @message]) do |f| %>
              <div class="field">
                <%= f.text_area :message_body, class: "form-control" %>
              </div>
                <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
              <div>
                <%= f.submit "メッセージを送る" %>
              </div>
            <% end %>

          </div> 
  
    </div> 
</div>