<div class="field">
    <%= form.label :address %>
    <%= form.select :address, Profile.addresses.keys.to_a,{prompt:"選択してください"}  %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Profile.statuses.keys.to_a,{prompt:"選択してください"} %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  
