<div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github %>
  </div>

  <div class="field">
    <%= form.label :qiita %>
    <%= form.text_field :qiita %>
  </div>  