
<h1>ユーザー一覧</h1>
<div class="profile-index-search">
<%= search_form_for @q do |f| %>
<div>  <%= f.label :detail %>
  <%= f.select :status_eq, Profile.statuses_i18n.invert.map{|key, value| [key, Profile.statuses[value]]}, { include_blank: '指定なし' }%>
  <%= f.submit "検索" %>
<% end %>
</div>
<span class="profile-index-sort-color"><%= sort_link(@q, :birth_date, "年齢で並べ替え") %></span>
<span class="profile-index-sort-color"><%= sort_link(@q, :updated_at, "更新順で並べ替え") %></span>
</div>


<div class="container">
  <div class="row">
  <% @profiles.each do |profile| %>
   <div class="col-md-4">
     <div class="card prof-index-card" style="width: 18rem;">
     <%= link_to  profile, data: {"turbolinks"=>false} do %>
       <div class="card card_topic prof-card">
         <div class="prof-index-container">
         <div class="prof-index-image">
         <% if profile.image? %>
           <%= image_tag profile.image.url, size: '120x120', class: "rounded-circle" %>
         <% else %>
           <%= image_tag asset_path("no_image.jpg"), size: '120x120', class: "rounded-circle" %>
         <% end %>
         </div>
         </div>
       <div class="card-body index-card-body">
        <div class="card-wrapper">
          <li><span class="margin">名前</span> <%= profile.name %></li>
          <li><% if  profile.birth_date.present? %> <%= (Date.today.strftime('%Y%m%d').to_i - profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/   <% end %>
          <%= profile.gender %>/<%= profile.address %></li>
          <li><%= profile.status %></li>
          <li><%= profile.detail %></li>
          <li><%= profile.updated_at.strftime("%Y-%m-%d") %></li>
          
        </div> 
        </div> 

       </div>
     </div>
   </div>
   <% end %>
   <% end %>
  </div>
</div>
 
<%= paginate (@profiles) %>