 

<div class="container">
  <div class="row">

    <div class="col-md-12 ">
   
      <div class="profile-main">
      
       <div class="profile-header"> 
        <div class=profile-share>

          <%= link_to "http://twitter.com/share?url=#{request.url}/&text=ポートフォリオを共有しよう！/&hashtags=プログラミング", target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fab fa-twitter"></i>Twitterシェア
          <% end %>

           </div>
          <% if @profile.link.present? %>
              
          <div class="profile-social-links">
          <div class="flex-link">
          <% if @profile.link.github != "" %>
              <%= link_to @profile.link.github, target: :_blank, rel: "noopener noreferrer" do %>
                <i class="fab fa-github social-icon"></i>
              <% end %>
          <% end %>
          </div>
            <div class="flex-link">
          <% if @profile.link.twitter != "" %>
              <%= link_to @profile.link.twitter, target: :_blank, rel: "noopener noreferrer" do %>
                <i class="fab fa-twitter social-icon"></i>
              <% end %>
          <% end %>
          </div>
            <div class="flex-link">
           <% if @profile.link.qiita != "" %>
              <%= link_to @profile.link.qiita, target: :_blank, rel: "noopener noreferrer" do %>
                <i class="fab fa-quora social-icon"></i>
              <% end %>
            <% end %>
            </div>
          </div>
           <% end %>   
        <h2 class="profile-name"><%= @profile.name %></h2>

        <div class="profile-image">
        
          <% if @profile.image? %>
          <%= image_tag @profile.image.url,class: "profile-img" %>
          <% else %>
          <%= image_tag asset_path("no_image.jpg"), class: "profile-img" %>
          <% end %>  
        </div>
       </div>
        <div class="profile-body">

          
         
            <div class="profile-footer">

          <% if @profile.user_id == current_user.id && current_user.try(:admin?) %>
            <%= link_to '管理者ページ', rails_admin_path, class:"btn btn-outline-primary btn-sm", data: {"turbolinks"=>false} %>
         
            <% end %>

          <% if @profile.user_id == current_user.id %>
          <%= link_to 'プロフィール編集', edit_profile_path(@profile),class:"btn btn-outline-primary btn-sm", data: {"turbolinks"=>false} %> 

              <% if @profile.link.present? %>
                <%= link_to 'SNS編集', edit_link_path(@profile.link.id),class:"btn btn-outline-primary btn-sm", data: {"turbolinks"=>false} %> 
              <% else %>
                <%= link_to 'SNS登録', new_link_path,class:"btn btn-outline-primary btn-sm", data: {"turbolinks"=>false} %> 
              <% end %>
         
              <% else %>
              <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), method: :post,class:"btn btn-outline-primary btn-sm", data: {"turbolinks"=>false} %>
            <% end %>
        </div>
          <p class="profile-job">
            <% if  @profile.gender_check == true  %>
              性別非公開
            <% else %>
              <%= @profile.gender if  @profile.gender.present?%>
            <% end %>
            <% if  @profile.birth_date_check == true %>
              年齢非公開
            <% elsif @profile.birth_date.present? %>
               <%= (Date.today.strftime('%Y%m%d').to_i - @profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/ 
            <% end %>
            <% if @profile.address_check == true %>
              居住地非公開
            <% else %>
              <%= @profile.address if @profile.address.present? %>
            <% end %>
          </p>
         <div class="profile-text">
          <p>
          <% if @profile.body.present? %>
            <%= @profile.body %>
          <% end %>
          </p>

         </div>

        </div>
           
        
      </div>
    </div>
  </div>
 </div>
<%# ここから自分の投稿一覧 css/protfolio/index共通 %>

<div class="container my-pf">
<h3 class="comment"><%= @profile.name %>の投稿一覧</h3>
  <div class="row">

<% if  @profile.user.portfolios.present?%>

 <% @profile.user.portfolios.each do |profile| %>
   <div class="col-md-4">
     <div class="card-deck" style="width:22rem">

       <div class="card card_topic pf-main">

       <div class="p-image">
        <% if profile.portfolio_image.url.present? %>
          <%= link_to image_tag(profile.portfolio_image.url, size: '320x200', class: "card-img-top"), profile, data: {"turbolinks"=>false} %>
        <% else %>
          <%= link_to image_tag(asset_path("no_image.png"), size: '320x200', class: "card-img-top"), profile, data: {"turbolinks"=>false} %>
        <% end %>
      </div>
        
     <div class="card-body">
       <h5 class="card-title"><strong>タイトル:</strong>
            <%= profile.portfolio_title %></h5>
       <p><strong>メイン言語:</strong><%= profile.portfolio_language %></p>
     <div class="framework-wrapper">
    
        <p><strong>制作に使用したスキル</strong></p>
          <ul class="framework">
              <% profile.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %>/</li>
            <% end %>
              <% end %>
          </ul>
      
     </div>
   </div>

     <div class="p-footer">
       <p><small class="text-muted"><%= profile.created_at.strftime("%Y-%m-%d") %></small></p>
     </div>
      </div>
    </div>
 </div>
<% end %>
<% else %>

<div class="show-alert">
<div class="alert alert-danger" role="alert">
 <h2>*現在投稿はありません*</h2>
<h5>ポートフォリオを投稿するとこちらに表示されます。
</h5>
 </div>
 </div>
<% end %>
 </div>
 </div>
   


 
