 

<div class="container">
  <div class="row">
    <div class="col-md-6 prof-wrapper">
<h1>プロフィール</h1>
    <div class="prof-body">
     <div class="prof-name">
        <h2>
        ユーザーネーム:
        <strong><%= @profile.name %></strong>
          
        </h2>
      </div>
      <div class="prof-image">
        <% if @profile.image? %>
          <%= image_tag @profile.image.url, style:'width:100%' %>
        <% else %>
          <%= image_tag asset_path("no_image.jpg"), style:'width:100%' %>
        <% end %>
      </div>
    </div>
    <div class="profile-info">
      <p>
        <% if  @profile.gender_check == true  %>
           性別非公開
          <% else %>
          <%= @profile.gender if  @profile.gender.present?%>
        <% end %>
        <% if  @profile.birth_date_check == true %>
        年齢非公開
        <% elsif @profile.birth_date.present? %>

                /<%= (Date.today.strftime('%Y%m%d').to_i - @profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/ 
        <% end %>
        <% if @profile.address_check == true %>
        居住地非公開
        <% else %>
                <%= @profile.address if @profile.address.present? %>
        <% end %>
      </p>
    </div>
    <div class="prof-status">
    
    <p>
      <% if @profile.body.present? %>
        <%= @profile.body %>
      <% end %>
    </p>
    </div>
    <div class="prof-message">
      <% if @profile.user_id == current_user.id %>
          <%= link_to 'Edit', edit_profile_path(@profile) %> 
        <% else %>
          <p><%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), method: :post, class: "btn btn-warning" %></p>
        <% end %>
        <% if current_user.try(:admin?) %>
          <%= link_to "管理者ページ", rails_admin_path %>  
      <% end %>
    </div>
    </div>

    <div class="col-md-6">
    <div class="prof-pf">
   
    <div class="card" style="max-width: 450px" >
 <% if  @profile.user.portfolios.present?%>
 <% @profile.user.portfolios.each do |profile| %>
 <div class="prof-content">
  <div class="row no-gutters">

      <div class="col-md-5">
      <% if profile.portfolio_image.present? %>
            <%= image_tag profile.portfolio_image.url, size: '180x180' %>
          <% else %>
            <%= image_tag asset_path("no_image.png"), size: '180x180'  %>
          <% end %>
    </div>

    <div class="col-md-7">
      <div class="card-body">
        <p>
            <strong>タイトル:</strong>
            <%= profile.portfolio_title %>
          </p>
          <div class="pf-framework">
          <p><strong>制作に使用したスキル</strong></p>
          <ul class="framework">
              <% profile.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %>/</li>
            <% end %>
              <% end %>
            </ul>
          </div>
          <p>

       <small class="text-muted"><%= profile.created_at.strftime("%Y-%m-%d") %></small></p>
      </div>
    </div>
  </div>
<% end %>
<% else %>
<h1>投稿はまだありません</h1>
    <% end %>
    </div>
</div>
    </div>
    </div>



  </div>
</div>



















