
<div class="profile_image">
<% if @profile.image? %>
  <%= image_tag @profile.image.url, style:'width:200px', class: "icon" %>
<% else %>
  <%= image_tag asset_path("no_image.jpg"), class: "icon" %>
<% end %>
</div>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birth date:</strong>
 <% if  @profile.birth_date.present? %> 
        <%= (Date.today.strftime('%Y%m%d').to_i - @profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳 
      <% end %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @profile.status %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @profile.detail %>
</p>

<p>
  <strong>Body:</strong>
  <%= @profile.body %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Github:</strong>
  <%= @profile.github %>
</p>

<p>
  <strong>Qiita:</strong>
  <%= @profile.qiita %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
