 

<div class="container">
  <div class="row">

    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header">
          <% if @profile.image? %>
          <%= image_tag @profile.image.url,class: "profile-img" %>
          <% else %>
          <%= image_tag asset_path("no_image.jpg"), class: "profile-img" %>
          <% end %>  
        </div>
        <div class="card-body">
          <p class="name"><%= @profile.name %></p>
            
          <p class="job">
            <% if  @profile.gender_check == true  %>
              性別非公開
            <% else %>
              <%= @profile.gender if  @profile.gender.present?%>
            <% end %>
            <% if  @profile.birth_date_check == true %>
              年齢非公開
            <% elsif @profile.birth_date.present? %>
               <%= (Date.today.strftime('%Y%m%d').to_i - @profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/ 
            <% end %>
            <% if @profile.address_check == true %>
              居住地非公開
            <% else %>
              <%= @profile.address if @profile.address.present? %>
            <% end %>
          </p>
          <br>
          <% if @profile.body.present? %>
            <%= @profile.body %>
          <% end %>
        </div>
              <% if @profile.link.present? %>
          <div class="social-links">
              <%= link_to @profile.link.github, target: :_blank do %>
                <i class="fab fa-github social-icon"></i>
              <% end %>
              <%= link_to @profile.link.twitter, target: :_blank do %>
                <i class="fab fa-twitter social-icon"></i>
              <% end %>
              <%= link_to @profile.link.qiita, target: :_blank do %>
                <i class="fab fa-youtube social-icon"></i>
              <% end %>
          </div>
        <div class="card-footer">
            <% if @profile.user_id == current_user.id %>
                <%= link_to 'プロフィール編集', edit_profile_path(@profile),class:"btn btn-outline-dark btn-sm" %> 

              <% if @profile.link.present? %>
                <%= link_to 'SNS編集', edit_link_path(@profile.link.id),class:"btn btn-outline-dark btn-sm" %> 
              <% else %>
                <%= link_to 'SNS登録', new_link_path,class:"btn btn-outline-dark btn-sm" %> 
              <% end %>
         

              <% else %>
                <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), method: :post,class:"btn btn-outline-dark btn-sm" %>
              <% end %>
              <% if current_user.try(:admin?) %>
                <%= link_to "管理者ページ", rails_admin_path,class:"btn btn-outline-dark btn-sm" %>  
              <% end %>
              <% end %>
        </div>
      </div>
    </div>
    
   </div>
 </div>


  
     