
<div class="profile_image">
  <% if @profile.image? %>
    <%= image_tag @profile.image.url, style:'width:200px', class: "icon" %>
  <% else %>
    <%= image_tag asset_path("no_image.jpg"), class: "icon" %>
  <% end %>
</div>

<div class="profile-name">
  <p>
    <%= @profile.name %>
  </p>
</div>

<div class="profile-info">
  <p>
    <% if  @profile.gender.present? %> 
      <%= @profile.gender %>
    <% end %>
    <% if  @profile.birth_date.present? %> 
            /<%= (Date.today.strftime('%Y%m%d').to_i - @profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/ 
    <% end %>
    <% if @profile.address.present? %>
            <%= @profile.address %>
    <% end %>
  </p>
</div>

<p>
  <%= @profile.status %>
</p>

<p>
  <%= @profile.detail %>
</p>

<p>
  <% if @profile.body.present? %>
    <%= @profile.body %>
  <% end %>
</p>

<div class="sns">
<p>
  <%= @profile.twitter %>
</p>

<p>
  <%= @profile.github %>
</p>

<p>
  <%= @profile.qiita %>
</p>
</div>


<% if @profile.user_id == current_user.id %>
       <%= link_to 'Edit', edit_profile_path(@profile) %> 
    <% else %>
        <p><%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), method: :post, class: "btn btn-warning" %></p>
    <% end %>

