


<div class="container my-pf">
<h2 class="comment">お気に入り一覧</h2>
  <div class="row">

<% if  @favorites.present?%>

 <% @favorites.each do |fav| %>
   <div class="col-md-4">
     <div class="card-deck" style="width:22rem">

       <div class="card card_topic pf-main">

       <div class="p-image">
        <% if fav.portfolio.portfolio_image.url.present? %>
          <%= link_to image_tag(fav.portfolio.portfolio_image.url, size: '320x200', class: "card-img-top"), portfolio_path(fav.portfolio.id) %>
        <% else %>
          <%= link_to image_tag(asset_path("no_image.png"), size: '320x200', class: "card-img-top"), portfolio_path(fav.portfolio.id) %>
        <% end %>
      </div>
        
     <div class="card-body">
       <h5 class="card-title"><strong>タイトル:</strong>
            <%= fav.portfolio.portfolio_title %></h5>
       <p><strong>メイン言語:</strong><%= fav.portfolio.portfolio_language %></p>
     <div class="framework-wrapper">
    
        <p><strong>制作に使用したスキル</strong></p>
          <ul class="framework">
              <% fav.portfolio.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %>/</li>
            <% end %>
              <% end %>
          </ul>
      
     </div>
   </div>

     <div class="p-footer">
       <p><%= fav.portfolio.created_at.strftime("%Y-%m-%d") %></p>
     </div>
         <div class="p-like">
            <% if fav.portfolio.user_id != current_user.id %>
              <div id="likes_buttons<%= fav.portfolio.id %>">
              <%= render partial: 'favorites/favorite', locals: { portfolio: fav.portfolio, favorite: @favorite} %>
              </div>
            <% end %>
        </div>

      </div>
    </div>
 </div>
<% end %>
<% else %>
<div class="show-alert">
 <div class="alert alert-danger" role="alert">
 <h2 class="comment">*現在お気に入りはありません*</h2>
<h5>ポートフォリオ一覧から投稿詳細を閲覧し<br>
(いいね)したものがここに表示されます
</h5>
 </div>
 </div>
<% end %>
 </div>
 </div>
    <%= paginate ( @favorites) %>