

<div class="container">
<h2 class="message-titie">メッセージ相手一覧画面</h2>
  <div class="row messages">

  
    <div class="col-md-6 message-users">
    



   <div class="message-wrapper"> 
        <% @conversations.each do |conversation| %>
               
     
          <% if conversation.target_user(current_user).present? %>
            
              <%= link_to conversation_messages_path(conversation) do %>
              <div class="talking_user">       
                <div class="message-image">
                   <% if conversation.target_user(current_user).profile.image? %>
                      <%= image_tag conversation.target_user(current_user).profile.image.url, size: '60x60', data: {"turbolinks"=>false} %>
                    <% else %>
                      <%= image_tag asset_path("no_image.png"), size: '60x60', data: {
                        "turbolinks"=>false} %>
                    <% end %>
                </div>
       
                <div class="message-user-name">
                  <h4><%= conversation.target_user(current_user).profile.name %></h4>
                </div>
                <div class="message-count">
                  <p><%= conversation.messages.where.not(user_id: current_user.id).where(message_read: false).count %></p>
                </div>
              </div>

              <% end %>
            
          <% end %>
        <% end %>            
    </div>    
</div>







     <div class="col-md-6 message-users">
     <h3>メッセージの送り方</h3>
       <div class="message-info">
          <ol class="message-padding">
          <li class="message-padding">①画面左のメニューからポートフォリオ一覧をクリック</li>
          <li class="message-padding">②気になるポートフォリオの画像をクリックする</li>
          <li class="message-padding">③投稿詳細画面右側に投稿者のプロフィールが表示され<br><メッセージ>リンクをクリックする</li>
          <li class="message-padding">④２人だけのトークルームが作成されます。</li>
          </ol>
     
       </div>
     </div> 


   </div> 
</div>