<div class="portfolio-top-wrapper">
 <div class="portfolio-index-header">
    <h1><%= link_to "ポートフォリオ投稿一覧画面", portfolios_path %></h1>
<h5><%= sort_link(@q, :created_at, "新規順並び変え") %></h5>
</div>
<div class="profile-search">
    <%= search_form_for @q do |f| %>
    <div class="index-search">
      <%= f.label :主な言語 %>
      <%= f.select :portfolio_language_eq, Portfolio.portfolio_languages_i18n.invert.map{|key, value| [key, Portfolio.portfolio_languages[value]]}, { include_blank:'指定なし' } %>
    </div>  
   <div class="index-search">
      <%= f.label :framework_name, "使用したスキルで検索" %>
      <%= f.search_field :frameworks_framework_name_cont, placeholder: "半角英数字(小文字)" %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
</div>

    

</div>


<h5><span class="name">*詳細を見るには画像をクリックしてください*</span></h5>

<div class="container">
  <div class="row">

 <% @portfolios.each do |portfolio| %>
   <div class="col-md-4">
     <div class="card-deck " style="width:22rem">
    
       <div class="card card_topic pf-main">

       <div class="p-image">
         
       <% if portfolio.portfolio_image.url.present? %>
          <%= link_to image_tag(portfolio.portfolio_image.url, size: '350x200', class: "card-img-top"), portfolio, data: {"turbolinks"=>false} %>
       <% else %>
          <%= link_to image_tag(asset_path("no_image.png"), size: '350x200', class: "card-img-top"), portfolio, data: {"turbolinks"=>false}%>
       <% end %>

        
      </div>
        
     <div class="card-body ">
       <h5 class="card-title">タイトル:<%= portfolio.portfolio_title %></h5>
       <p>メイン言語:<%= portfolio.portfolio_language %></p>
     <div class="framework-wrapper">
       <p>使用したスキル</p>
       <ul class="framework">
       <% portfolio.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %></li>
            <% end %>
       <% end %>
       </ul>
     </div>
     </div>

     <div class="pf-footer">
        <div class="p-footer">
          <p><%= portfolio.created_at.strftime("%Y-%m-%d") %></p>
        </div>

        <div class="p-like">
            <% if portfolio.user_id != current_user.id %>
              <div id="likes_buttons<%= portfolio.id %>">
              <%= render partial: 'favorites/favorite', locals: { portfolio: portfolio, favorite: @favorite} %>
              </div>
            <% end %>
        </div>
        
     </div>

      </div>
      </div>
    </div>
    
<% end %>

  </div>
  
</div>
<% unless params[:hoge] == "true"  %>
  <%= paginate (@portfolios) %>
<% end %>



