
<h1><%= link_to "ポートフォリオ", portfolios_path %></h1>
<%= search_form_for @q do |f| %>
  <%= f.label :framework_name, "キーワード検索" %>
  <%= f.search_field :frameworks_framework_name_cont %>

  <%= f.submit "検索" %>
<% end %>
<%= sort_link(@q, :created_at, "新規順") %>

<%= link_to 'いいね', portfolios_path(hoge: true) %>

<div class="container">
  <div class="row">

 <% @portfolios.each do |portfolio| %>
 <div class="col-md-4">
<div class="card-deck" style="width:22rem">
<div class="card card_topic">
 <div class="p-image">
   <% if portfolio.portfolio_image.url.present? %>
           <%= link_to image_tag(portfolio.portfolio_image.url, size: '256x160', class: "card-img-top"), portfolio %>
         <% else %>
           <%= link_to image_tag(asset_path("no_image.jpg"), size: '256x160', class: "card-img-top"), portfolio %>
         <% end %>
         </div>
        
  <div class="card-body">
    <h5 class="card-title"><%= portfolio.portfolio_title %></h5>
    <p><%= portfolio.portfolio_language %></p>
    <div class="framework-wrapper">
    <ul class="framework">
      <% portfolio.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %></li>
            <% end %>
      <% end %>
    </ul>
    </div>
    <p><%= portfolio.user.profile.name%></p>
  </div>
  <div class="p-footer">
    <p><%= portfolio.created_at.strftime("%Y-%m-%d") %></p>
    </div>
    <div class="p-like">
    <p>お気に入り数<%= portfolio.favorites.count %></p>
    </div>
    
</div>
</div>
</div>
<% end %>
</div>
</div>








<%= link_to 'New Portfolio', new_portfolio_path %>


