<div class="container">
  <div class="row">

    <div class="col-md-8">
    <h3 class="comment">投稿詳細画面</h3>
    <div class="portfolio-main">
    
    
      
        <div class="portfolio-image">
          <% if @portfolio.portfolio_image? %>
           <%= image_tag @portfolio.portfolio_image.url, class:"portfolio-flex-image" %>
          <% else %>
            <%= image_tag asset_path("no_image.png"), class:"portfolio-flex-image" %>
          <% end %>
        </div>
<div class="portfolio-body">

<div class="portfolio-icon-wrapper">
          <% if @portfolio.portfolio_github.present? %>
            <%= link_to @portfolio.portfolio_github, target: :_blank, rel: "noopener noreferrer" do %><i class="fab fa-github portfolio-icon"></i>
            <% end %>
        
          <% end %>
</div>
<div class="protfolio-likes">

         <% if @portfolio.user_id == current_user.id %>
              <%= link_to '編集', edit_portfolio_path(@portfolio),class: "btn btn-dark btn-sm", data: {"turbolinks"=>false} %>
              <%= link_to '削除', @portfolio, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-dark btn-sm" %>
              <% else %>
              <div id="likes_buttons<%= @portfolio.id %>">
              <%= render partial: 'favorites/favorite', locals: { portfolio: @portfolio, favorite: @favorite} %>
              </div>
          <% end %>

</div>


<div class="portfolio-work">
         
            <strong>作品はこちら <i class="fa fa-caret-right"></i></strong>
        <span class="super">
            <%= link_to @portfolio.portfolio_url, target: :_blank, rel: "noopener noreferrer" do %><%= @portfolio.portfolio_title %><% end %>
        </span>
          
</div>

</div>  
        <div class="portfolio-framework">
          <p>
            <strong>タイトル:</strong>
            <%= @portfolio.portfolio_title %>
          </p>
         
          <p><strong>制作に使用したスキル</strong></p>
          <ul class="show-framework">
              <% @portfolio.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li class="framework-center"><%= p.framework_name %>/</li>
            <% end %>
              <% end %>
          </ul>
        </div>


          <p>
            <strong>開発した経緯など:</strong>
           <%= markdown("#{@portfolio.portfolio_body}") %>
          </p>
          
       
        

         
         
        
        </div>
      </div>
 




  

    <div class="col-md-4 portfolio-profile-main">
    <% if @portfolio.user.id != current_user.id %>
    <h3 class="comment">投稿者プロフィール</h3>
    
     <div class="show-main ">
        
         <div class="portfolio-profile-header">
          <% if @portfolio.user.profile.image? %>
          <%= image_tag @portfolio.user.profile.image.url,class: "pf-profile-img" %>
          <% else %>
          <%= image_tag asset_path("no_image.jpg"), class: "pf-profile-img" %>
          <% end %>  
        </div>
        
        <div class="show-body portfolio-profile-body">
          <p class="portfolio-profile-name"><%= @portfolio.user.profile.name %></p>
            
          <p class="portfolio-profile-job">
            <% if  @portfolio.user.profile.gender_check == true  %>
              性別非公開/
            <% else %>
              <%= @portfolio.user.profile.gender if  @portfolio.user.profile.gender.present?%>/
            <% end %>
            <% if  @portfolio.user.profile.birth_date_check == true %>
              年齢非公開/
            <% elsif @portfolio.user.profile.birth_date.present? %>
               <%= (Date.today.strftime('%Y%m%d').to_i - @portfolio.user.profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/ 
            <% end %>
            <% if @portfolio.user.profile.address_check == true %>
              居住地非公開
            <% else %>
              <%= @portfolio.user.profile.address if @portfolio.user.profile.address.present? %>
            <% end %>
          </p>
         <br>
        <div class="portfolio-profile-footer">   
          <%= link_to 'ユーザー詳細', profile_path(@portfolio.user.profile.id),class:"btn btn-outline-danger ", data: {"turbolinks"=>false} %><br> <br>
         <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @portfolio.user.profile.user.id), method: :post,class:"btn btn-outline-danger", data: {"turbolinks"=>false} %>
        </div>
        </div>

       
        

      </div>
      <% else %>
        <h3>投稿者は自分</h3>
 <% end %>
    </div>
    

 </div>
</div>

