<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pf-body">
        <div class="pf-image">
          <% if @portfolio.portfolio_image? %>
            <%= image_tag @portfolio.portfolio_image.url, size: '450x250' %>
          <% else %>
            <%= image_tag asset_path("no_image.jpg"), size: '450x250'  %>
          <% end %>
        </div>
        <div class="pf-content">
          <p>
            <strong>タイトル:</strong>
            <%= @portfolio.portfolio_title %>
          </p>
          <div class="pf-framework">
          <p><strong>制作に使用したスキル</strong></p>
          <ul class="framework">
              <% @portfolio.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %>/</li>
            <% end %>
              <% end %>
            </ul>
          </div>
          <p>
            <strong>開発した経緯など:</strong>
            <%= @portfolio.portfolio_body %>
          </p>
          <p>
            <strong>GithubのURL:</strong>
            <%= @portfolio.portfolio_github %>
          </p>

          <p>
            <strong>実際の作品</strong>
            <%= @portfolio.portfolio_url %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


