<div class="container">
  <div class="row">

    <div class="col-md-8">
      <div class="pf-body">
        <div class="pf-image">
          <% if @portfolio.portfolio_image? %>
            <%= image_tag @portfolio.portfolio_image.url, size: '450x250' %>
          <% else %>
            <%= image_tag asset_path("no_image.png"), size: '450x250'  %>
          <% end %>
        </div>
        <div class="pf-content">
          <p>
            <strong>タイトル:</strong>
            <%= @portfolio.portfolio_title %>
          </p>
          <div class="pf-framework">
          <p><strong>制作に使用したスキル</strong></p>
          <ul class="framework">
              <% @portfolio.frameworks.each do |p| %>
            <% if p.framework_name.present? %>
            <li><%= p.framework_name %>/</li>
            <% end %>
              <% end %>
            </ul>
          </div>
          <p>
            <strong>開発した経緯など:</strong>
            <%= @portfolio.portfolio_body %>
          </p>
          
          <% if @portfolio.portfolio_github.present? %>
            <p>
            <strong>Github:</strong>
            <%= link_to @portfolio.portfolio_github, target: :_blank, rel: "noopener noreferrer" do %><i class="fab fa-github social-icon"></i>
            <% end %>
          </p>
          <% end %>
          

          <p>
            <strong>実際の作品-></strong>
            <%= link_to @portfolio.portfolio_url, target: :_blank, rel: "noopener noreferrer" do %><%= @portfolio.portfolio_title %><% end %>

          </p>
          <% if @portfolio.user_id == current_user.id %>
              <%= link_to 'Edit', edit_portfolio_path(@portfolio), data: {"turbolinks"=>false} %>
              <%= link_to 'Destroy', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
              <div id="likes_buttons<%= @portfolio.id %>">
              <%= render partial: 'favorites/favorite', locals: { portfolio: @portfolio, favorite: @favorite} %>
              </div>
          <% end %>
        </div>
      </div>
    </div>





  

    <div class="col-md-4 prof-card-height">
    <% if @portfolio.user.id != current_user.id %>
    <h2 class="comment">投稿者</h2>
     <div class="card show-main">

        <div class="card-header pf-prof-header">
          <% if @portfolio.user.profile.image? %>
          <%= image_tag @portfolio.user.profile.image.url,class: "pf-profile-img" %>
          <% else %>
          <%= image_tag asset_path("no_image.jpg"), class: "pf-profile-img" %>
          <% end %>  
        </div>
        <div class="card-body show-body">
          <p class="name"><%= @portfolio.user.profile.name %></p>
            
          <p class="job">
            <% if  @portfolio.user.profile.gender_check == true  %>
              性別非公開/
            <% else %>
              <%= @portfolio.user.profile.gender if  @portfolio.user.profile.gender.present?%>/
            <% end %>
            <% if  @portfolio.user.profile.birth_date_check == true %>
              年齢非公開/
            <% elsif @portfolio.user.profile.birth_date.present? %>
               <%= (Date.today.strftime('%Y%m%d').to_i - @portfolio.user.profile.birth_date.strftime('%Y%m%d').to_i) / 10000 %>歳/ 
            <% end %>
            <% if @portfolio.user.profile.address_check == true %>
              居住地非公開
            <% else %>
              <%= @portfolio.user.profile.address if @portfolio.user.profile.address.present? %>
            <% end %>
          </p>
         <br><br>
          <%= link_to 'ユーザー詳細', profile_path(@portfolio.user.profile.id),class:"btn btn-outline-danger btn-lg"%>
        </div>
     
          <div class="social-links">
       
         
          </div>
              
        <div class="card-footer">
       <%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @portfolio.user.profile.user.id), method: :post,class:"btn btn-outline-dark btn-sm" %>
           
        </div>


      </div>
      <% else %>
  <h3>投稿者は自分</h3>
 <% end %>
    </div>
    

  </div>
 </div>

