
<%= form_with(model: link, local: true) do |form| %>
<% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %></h2>

      <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="sns-form">
  <div class="field">
    <%= form.label :Twitter%>
    <%= form.text_field :twitter%>
  </div>

  <div class="field">
    <%= form.label :Github%>
    <%= form.text_field :github%>
  </div>

  <div class="field">
    <%= form.label :Qiita%>
    <%= form.text_field :qiita%>
  </div>

  <div class="actions">
  <%= form.submit %>
  </div>
</div>
<% end %>
