
<%= form_with(model: link, local: true) do |form| %>
<% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %></h2>

      <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="sns-form">
<p class="sns-p">*(任意です)アカウントのURLを入力してください*</p>  

         <ul>
            <div class="field">
            <li>
              <%= form.label :Twitter%><br>
              <%= form.text_field :twitter, placeholder: "twitter(URL)"%>
            </li>
            </div>

            <div class="field">
            <li>
              <%= form.label :Github%><br>
              <%= form.text_field :github, placeholder: "Github(URL)"%>
            </li>
            </div>

            <div class="field">
            <li>
              <%= form.label :Qiita%><br>
              <%= form.text_field :qiita, placeholder: "Qiita(URL)"%>
            </li>
            </div>

            <div class="sns-submit">
            <%= form.submit %>
            </div>
         </ul>
    </div>
<% end %>
