<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header">
    <%= render 'shared/layout/header' %>
    </div>

     <div class="frash-message">
    <%= render 'shared/layout/message' %>
    </div>



  <div class="row">
   
    <div class="col-2 ">
      <div class="side-bar">
      <%= render 'shared/layout/sidebar' %>
      </div>
    </div>

    <div class="col-10 ">
      <div class="main-wrapper">
      <%= yield %>
      </div>
    </div>
  </div>
</div>

  </body>

</html>
