<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <div class="header">
    <%= render 'shared/layout/header' %>
    </div>

   <div class="alert" role="alert">
  <%= render 'shared/layout/message' %>  
  </div>
   
   



  <div class="row">
   
    <div class="col-3">
      <div class="sidebar_fixed">
      <%= render 'shared/layout/sidebar' %>
      </div>
    </div>

    <div class="col-9">
      <div class="main-wrapper">
      <%= yield %>
      </div>
    </div>

  </div>


 <%= render 'shared/layout/footer' %>
  </body>

</html>
